@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #F9F9F9;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--foreground-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
